.tile {
    position:relative;
    width: 100%;
    background-color:#8696ae;
    border-radius: 10px;
    flex-basis: auto;
}

.colspan2 {
    grid-column: span 2;
}
.rowspan2 {
    grid-row: span 2;
}

.colspan3 {
    grid-column: span 3;
}

.rowspan3 {
    grid-row: span 3;
}

.tile .topBar {
    border-radius: 10px 10px 0 0;
    background-color:var(--secundairy-bg-color-dm);
    opacity: 75%;
    color: var(--primary-text-color-dm);
    font-size: 1.5em;
    padding: 5px 5px 5px 10px;
}
.content {
    display:flex;

    flex-direction: column;
    justify-content: space-around;
    padding: 20px  20px 20px;
    flex-shrink: 2;
}

.predictionContent{
    display:flex;
    justify-content: space-around;
    padding: 20px  20px 20px;
    flex-shrink: 2;
}

.RatingContent{
    display:flex;
    font-size: 40px;
    justify-content: space-around;
    padding: 20px  20px 20px;
    flex-shrink: 2;
}
