.searchbar {
    margin: 20px 0 16px 0;
}

.searchbar input {
    border-radius: 2px 0 0 2px;
    border: 1px solid black;
    padding: 8px 16px;
    width: 200px;
    outline: none;
}

.searchbar button {
    border-radius: 0 2px 2px 0;
    border: none;
    padding: 8px 16px;
    background-color: var(--primary-accent-color-dm);
    color: var(--primary-text-color-dm);
    cursor: pointer;
    outline: none;
}

.searchbar input,
.searchbar button {
    font-family: 'Core Sans G', Arial, sans-serif;
}
