body {
    display: flex;
    justify-content: center;
    background-color: var(--primary-bg-color-dm);
    box-sizing: border-box;
    width: 100%;
}

:root {
    --primary-bg-color-dm: #2a2a2a;
    --secundairy-bg-color-dm: #364156;
    --primary-accent-color-dm: #5a8176;
    --secondary-accent-color-dm: #8696ae;
    --primary-text-color-dm: white;
    --secondary-text-color-dm: black;

    --primary-bg-color-lm: black;
    --secundairy-bg-color-lm: black;
    --primary-accent-color-lm: black;
    --secondary-accent-color-lm: black;
    --primary-text-color-lm: black;
    --secondary-text-color-lm: black;
}

#root {
    width:100%;
    max-width:1440px;
    margin-left: auto;
    margin-right:auto;
}