body {
    display: flex;
    justify-content: center;
    background-color: var(--primary-bg-color-dm);
    box-sizing: border-box;
    width: 100%;
}

h3 {
    margin-top: 0;
}

h4 {
    font-size: x-large;

}

footer {
    margin-top: 20px;
}

:root {
    --primary-bg-color-dm: #2a2a2a;
    --secundairy-bg-color-dm: #364156;
    --primary-accent-color-dm: #5a8176;
    --secondary-accent-color-dm: #8696ae;
    --primary-text-color-dm: white;
    --secondary-text-color-dm: black;

    --primary-bg-color-lm: black;
    --secundairy-bg-color-lm: black;
    --primary-accent-color-lm: black;
    --secondary-accent-color-lm: black;
    --primary-text-color-lm: black;
    --secondary-text-color-lm: black;
}

#root {
    width:100%;
    max-width:1440px;
    margin-left: auto;
    margin-right:auto;
}

.icon {
    height:150px;
    width:150px;
}

@media only screen and (max-width: 1080px) {
    .icon {
       display: none   ;
    }

    h1{
        display: none;
    }

    #root {
        font-size: smaller;

    }

    .toggleBurger {
        flex-direction: column;
    }
}

